@import "./node_modules/bootstrap/dist/css/bootstrap.css";

.jumbotron {
    background-color: #9FA8DA;
    padding: 20px;
}

.navbar {
    background-color: #E8EAF6;
}

.nav-link {
    color: black;
}

.tile {
    padding: 50px;
    margin: 10px;
    text-align: center;
    border: 5px solid black;
    border-radius: 30px;
    color: black;
}