.tile {
    padding: 50px;
    margin: 10px;
    text-align: center;
    background-color: #9FA8DA;
    border-radius: 20px;
    color: white;
    font-style: italic;
}

.tile:hover {
    color: white;
    text-decoration: none;
    border: 5px solid black;
}

.progress-doughnut {
    border: 10px solid white;
    border-radius: 100px;
    height: 120px;
    width: 120px;
}

.percent {
    margin-top: 35px;
}