.jumbotron {
    background-color: #424874;
    padding: 20px;
    margin: 0px;
    color: white;
    border-radius: 0;
}

.jumbotron h4 {
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    font-weight: bold;
}

h5 {
    margin-top: 20px;
}

.navbar {
    background-color: #a6b1e1;
    font-style: italic;
    color: white;
    padding: 15px;
}

hr {
    background-color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    font-weight: bold;
    color: white;
}

.content {
    margin: 30px;
}

.description {
    margin-top: 20px;
    border: 2px solid #a6b1e1;
    padding: 15px;
    border-radius: 25px;
}

.btn {
    font-style: italic;
    color: white;
    background-color: #a6b1e1;
    margin-bottom: 20px;
    border-radius: 12px;
}

.btn:hover {
    font-weight: bold;
    color: white;
}