body {
    font-family: 'Lato'
}

.jumbotron {
    background-color: #2E1114;
    padding: 20px;
    margin: 0px;
    color: white;
    border-radius: 0;
}

.jumbotron h4 {
    font-weight: bold;
    font-size: 28px;
}

.jumbotron .rtc-logo {
    font-size: 35px;
}

h2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #2E1114;
}

h5 {
    margin-top: 20px;
}

.navbar {
    background-color: #64485c;
    font-style: italic;
    font-size: 18px;
    color: white;
    padding: 15px;
}

hr {
    background-color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    font-weight: bold;
    color: white;
}

.content {
    margin: 30px;
}

.description {
    margin-top: 20px;
    border: 2px solid #64485c;
    padding: 15px;
    border-radius: 25px;
}

.btn {
    font-style: italic;
    color: white;
    background-color: #64485c;
    margin-bottom: 20px;
    border-radius: 12px;
}

.btn:hover {
    font-weight: bold;
    color: white;
}