*, *::before, *::after{
	box-sizing: border-box;
	font-family: Palatino;
}

body{
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #381517;
}

.container{
	width: 400px;
	max-width: 80%;
	border-radius: 20px;
	padding: 10px;
	background-color: #9a7e92;

}

input[type=text], input[type=email],input[type=password] {
	border: 1px solid grey;
	border-radius: 30px;
	width:250px;
	height: 30px;
	margin: 5px;
	padding: 15px;
	font-size: 15px;
}

input[type=submit], input[type=reset] {
	margin: 10px;
	width: 100px;
	height: 30px;
	border-radius: 20px;
	background-color: #664d64;
	color: white;
	border: 0px solid;
	margin-top: 20px;
	font-size: 12px;
}


h1{
	font-weight:900;
	text-align:center;
	font-family: Impact;
	font-size: 100px;
	color: white;
	margin: 0px;
}

p{
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
	font-family: Optima;
	font-size: 30px;
	font-weight:90;
	color: white;
}

a{
	font-size: 0.75em;
}

#sign-up-successful{
	font-family: Georgia;
}

button{
	height: 30px;
	width: 120px;
	font-size: 12px;
	color: white;
	background-color: #664d64;
	border: 0px;
	padding: 5px;
	border-radius: 20px;
	outline: none;
}

.hide{
	display: none;
}

::placeholder{
	 font-style: italic; 
};