*, *::before, *::after{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: SeaGreen
}

.container{
	width: 800px;
	max-width: 80%;
	background-color: LemonChiffon;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
}

h1, h2, p{
	text-align: center;
}

.btn-grid{
	display: grid;
	/*grid-template-columns: repeat(2,auto);*/
	gap: 10px;
	margin: 20px 0;
}

.btn{
	height: 50px;
	background-color: white;
	border: 1px solid white;
	padding: 5px;
	border-radius: 5px;
	outline: none;
}

.btn:hover{
	border-color: black;
}

#start-button, #got-it-button{
	height: 40px;
	width: 100px;
	font-size: 1.2em;
	font-weight: bold;
}

#finish-button{
	height: 50px;
	width: 200px;
	font-size: 1.2em;
	font-weight: bold;
}

#back-button, #next-button, #go-to-scenario-button{
	height: 40px;
	width: 120px;
	font-size: 1em;
	font-weight: bold;
	margin: 10px 20px;
	text-align: center;
}

.control{
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide{
	display: none;
}